$font-size:           13px;
$line-height:         1.5;
$font-color:          #636363;
$font-noto:           "NotoSans", "Malgun Gothic", sans-serif;

$point-color1:        #1e88e5;

$img-path:            "../images";
$font-path:           "../fonts";