#root {
    > div {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    .page-footer {
        padding-top: 0;
    }
}

#container {
    flex: 1 0 auto;
}

.page-footer {
    .footer-inner {
        .footer-copyright {
            padding: 0 20px;
            font-size: 13px;
            @media screen and (max-width: 768px) {
                padding: 15px 0;
            }
            .copy-wrap {
                flex: 1;
                overflow: hidden;
                text-align: center;
                > span {
                    float: left;
                    @media screen and (max-width: 768px) {
                        float: none;
                    }
                    + span {
                        margin-left: 10px;
                    }
                }
                .link-wrap {
                    float: right;
                    font-size: 0;
                    @media screen and (max-width: 768px) {
                        display: block;
                        float: none;
                        margin-top: 8px;
                    }
                    > * {
                        font-size: 12px;
                    }
                    .github {
                        position: relative;
                        margin-left: 10px;
                        padding-left: 10px;
                        &:before {
                            content: ' ';
                            display: block;
                            position: absolute;
                            top: 2px;
                            left: -2px;
                            height: 12px;
                            border-left: 1px solid #888;
                            border-right: 1px solid #aaa;
                        }
                    }
                }
                a {
                    color: rgba(255,255,255,0.8);
                }
            }
        }
    }
}