#container {
    flex: 1 0 auto;
}

.page-footer {
    border-top: 1px solid #ddd;
    color: #aaa;
    .footer-inner {
        .footer-copyright {
            display: block;
            padding: 0 20px;
            font-size: 13px;
            @media screen and (max-width: 768px) {
                padding: 15px 0;
            }
            .copy-wrap {
                display: table;
                table-layout: fixed;
                width: 100%;
                padding: 15px 0;
                @media screen and (max-width: 768px) {
                    display: block;
                    height: auto;
                }
                > div {
                    display: table-cell;
                    vertical-align: middle;
                    @media screen and (max-width: 768px) {
                        display: block;
                        text-align: center;
                    }
                }
                .link-wrap {
                    text-align: right;
                    font-size: 0;
                    @media screen and (max-width: 768px) {
                        text-align: center;
                        margin-top: 8px;
                    }
                    > * {
                        font-size: 12px;
                    }
                    .github {
                        position: relative;
                        margin-left: 10px;
                        padding-left: 10px;
                        &:before {
                            content: ' ';
                            display: block;
                            position: absolute;
                            top: 2px;
                            left: -2px;
                            height: 12px;
                            border-left: 1px solid #aaa;
                            border-right: 1px solid #ddd;
                        }
                    }
                }
            }
        }
    }
}