#root {
    > div {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    .page-footer {
        padding-top: 0;
    }
}

#container {
    flex: 1 0 auto;
}

.footer-copyright {
    font-size: 13px;
    > span {
        + span {
            margin-left: 10px;
        }
    }
}

.footer-inner {
    padding: 0 20px;
}