header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 57px;
    line-height: 57px;
    @media only screen and (min-width: 601px) {
        height: 64px;
        line-height: 64px;
    }
    .side-nav-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        > span {
            display: block;
            a {
                display: block;
                padding: 0 15px;
                cursor: pointer;
                color: #999;
            }
            i {
                display: block;
                height:57px;
                color: #fff;
                line-height:57px;
                @media only screen and (min-width: 601px) {
                    height: 64px;
                    line-height: 64px;
                }
            }
        }
        .my-area {
            padding: 30px 0;
            color: #fff;
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
            a {
                color: #fff;
            }
            .name {
                font-size: 24px;
            }
            .info-list {
                margin-top: 15px;
                font-size: 0;
                text-align: center;
                > li {
                    display: inline-block;
                    width: 50px;
                    font-size: 15px;
                    line-height: 1.5;
                    i {
                        height: 30px;
                        line-height: 30px;
                    }
                }
            }
        }
        .side-nav {
            li {
                a {
                    &.active {
                        position: relative;
                        background-color: #f9f9f9;
                        /*&:before {
                            content: ' ';
                            display: block;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            width: 4px;
                            background-color: #e57373;
                        }*/
                        .material-icons {
                            color: #e57373;
                        }
                        span {
                            color: #e57373;
                        }
                    }
                }
                .material-icons {
                    color: #aaa;
                }
            }
        }
    }
    .brand-logo {
        display: inline-block;
        font-size: 0;
        padding: 10px;
        height: 100%;
        img {
            height: 100%;
        }
    }
    .nav-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        height: 57px;
        text-align: center;
        @media only screen and (min-width: 601px) {
            height: 64px;
        }
        li {
            span {
                display: block;
            }
            a {
                display: block;
            }
        }
    }
    .right {
        margin: 0;
        a {
            display: block;
            padding: 0 15px;
            cursor: pointer;
        }
        i {
            display: block;
            height:57px;
            color: #fff;
            line-height:57px;
            @media only screen and (min-width: 601px) {
                height: 64px;
                line-height: 64px;
            }
        }
    }
}