$simple-header-height: 38px;

.simple-header {
    header {
        .nav-wrapper {
            height: $simple-header-height;
            background-color: rgba(255, 255, 255, 0.8);
	        box-shadow: 0 2px 5px rgba(0,0,0,0.15);
        }
        .side-nav-wrap {
            > span {
                i {
                    height: $simple-header-height;
	                line-height: $simple-header-height;
	                color: #888;
                }
            }
        }
	    .right i {
		    height: $simple-header-height;
		    line-height: $simple-header-height;
		    color: #666;
	    }
        .brand-logo {
	        color: #666;
	        font-size: 20px;
            line-height: $simple-header-height;
        }
    }
}
header {
    color: #fff;
    width: 100%;
    height: 57px;
    line-height: 57px;
    .side-nav-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: background-color .5s;
        > span {
            display: block;
            a {
                display: block;
                padding: 0 15px;
                cursor: pointer;
                color: #999;
            }
            i {
                display: block;
                height: 57px;
                color: #fff;
                line-height: 57px;
                transition: all .6s;
            }
        }
        .my-area {
            padding: 30px 20px 40px;
            color: #fff;
            font-size: 14px;
            line-height: 1.5;
            text-align: left;
            a {
                color: #fff;
                &:hover {
                    background-color: transparent;
                }
            }
            .name {
                padding: 0;
                font-size: 20px;
            }
            .info-list {
                margin-top: 15px;
                font-size: 0;
                text-align: left;
                > li {
                    font-size: 15px;
                    line-height: 1.5;
                    + li {
                        margin-top: 5px;
                    }
                    i {
                        height: 30px;
                        line-height: 30px;
                    }
                }
            }
        }
        .welcome-area {
            a {
                color: #fff;
            }
        }
        .side-nav {
            li {
                a {
                    &.active {
                        position: relative;
                        background-color: #f9f9f9;
                        /*&:before {
                            content: ' ';
                            display: block;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            width: 4px;
                            background-color: #e57373;
                        }*/
                        .material-icons {
                            color: #e57373;
                        }
                        span {
                            color: #e57373;
                        }
                    }
                }
                .material-icons {
                    color: #aaa;
                }
            }
        }
    }
    .nav-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        height: 57px;
        text-align: center;
	    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        background-color: rgba(239, 154, 154, 0.8);
        transition: all .5s;
        li {
            span {
                display: block;
            }
            a {
                display: block;
            }
        }
    }
    .brand-logo {
        @include alignX;
        display: inline-block;
        top: 0;
        height: 100%;
        padding: 0 10px;
        font-family: 'Indie Flower', cursive;
        color: #fff;
        font-size: 24px;
        line-height: 57px;
        letter-spacing: 10px;
        transition: all .6s;
        animation: neon 1.5s ease-in-out infinite alternate;
        img {
            height: 100%;
        }
    }
    .right {
        margin: 0;
        a {
            display: block;
            padding: 0 15px;
            cursor: pointer;
        }
        i {
            display: block;
            height: 57px;
            color: #fff;
            line-height: 57px;
            transition: all .6s;
        }
    }
}
body {
    #sidenav-overlay {
        background: rgba(255,235,238,0.4);
    }
}