$simple-header-height: 38px;

.simple-header {
    header {
        .nav-wrapper {
            height: $simple-header-height;
        }
        .side-nav-wrap {
            > span {
                i {
                    height: $simple-header-height;
	                line-height: $simple-header-height;
                }
            }
        }
	    .right i {
		    height: $simple-header-height;
		    line-height: $simple-header-height;
	    }
        .brand-logo {
	        font-size: 20px;
            line-height: $simple-header-height;
        }
    }
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    height: 56px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    text-align: center;
    .side-nav-wrap {
        position: absolute;
        top: 0;
        left: 0;
        .nav-trigger {
            display: block;
            position: relative;
            width: 56px;
            height: 56px;
            cursor: pointer;
            .txt {
                @include hidden;
            }
            .lines {
                @include alignXY;
                display: block;
                > span {
                    display: block;
                    width: 22px;
                    height: 2px;
                    border-radius: 2px;
                    background-color: #666;
                    + span {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    h1 {
        @include alignX;
    }
    .logo {
        display: block;
        height: 100%;
        line-height: 56px;
        font-weight: 400;
        font-size: 20px;
    }
    .util-btn-group {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        height: 56px;
        > li {
            width: 56px;
            float: left;
        }
        a {
            display: block;
            cursor: pointer;
        }
        i {
            display: block;
            height: 56px;
            color: #666;
            font-size: 20px;
            line-height: 56px;
        }
    }
}