.guide {
    margin-top: -10px;
    color: #bbb;
    font-size: 13px;
    text-align: right;
    &.error {
        color: #ff5252;
    }
    &.ok {
        color: $point-color1;
    }
}
.sakura-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#sakura {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}