.toast-wrap {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
}
.toast-alarm {
    margin-bottom: 10px;
    animation: toastIn .4s;
    .toast-inner {
        min-width: 280px;
        overflow: hidden;
        height: 41px;
        padding: 10px 20px;
        background: rgba(100,100,100,0.8);
        box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
        border-radius: 2px;
        color: #fff;
        font-size: 14px;
        white-space: nowrap;
        text-align: center;
    }
}