.detail-area {
	.thumb {
		position: relative;
		width: 500px;
		margin:  0 auto;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
	.link {
		position: absolute;
		right: 40px;
		bottom: -24px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: $point-color1;
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
		text-align: center;
		i {
			color: #fff;
			font-size: 18px;
			line-height: 48px;
		}
	}
	.page-info {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid #ddd;
		.title {
			color: #444;
			font-weight: 300;
			font-size: 20px;
		}
		.desc {
			margin-top: 10px;
			font-size: 16px;
		}
	}
	.btn-area {
		@include clearfix;
		margin-top: 20px;
		.btn-heart {
			color: #aaa;
			i {
				font-size: 17px;
			}
		}
		.owner-area {
			float: right;
			> * {
				+ * {
					margin-left: 15px;
				}
			}
			i {
				font-size: 17px;
			}
		}
	}
	.map-area {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid #ddd;
		.map {
			height: 350px;
		}
	}
	.section-title {
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: 300;
	}
}