@charset "UTF-8";

.auth {
    margin-top: 50px;
    text-align: center;
}

.logo {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
    user-select: none;
    cursor: pointer;
    color: #5B5B5B;
}

.auth {
    .card {
        width: 400px;
        margin: 0 auto;
    }
    .header {
        font-size: 18px;
    }
    .row {
        margin-bottom: 0;
    }
    .id {
        margin-top: 0;
    }
    .btn {
        width: 100%;
        .loader {
            display: block;
            margin-top: 8px;
        }
    }
    .footer {
        border-top: 1px solid #E9E9E9;
        padding-bottom: 21px;
    }
}
.reg-input-wrap {
    margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    .auth .card {
        width: 100%;
    }
    .logo {
        font-size: 60px;
    }
}