.btn {
    display: inline-block;
    position: relative;
    min-width: 80px;
    height: 40px;
    padding: 9px 20px;
    background-color: $point-color1;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    transition: all .3s;
    &.expanded {
        display: block;
        width: 100%;
    }
    &.gray {
        background-color: #aaa;
    }
    &.lg {
        height: 46px;
        padding: 12px 20px;
    }
    .circle-loader-wrap {
        @include alignXY;
    }
}

.btn-write {
    position: fixed;
    right: 28px;
    bottom: 55px;
    z-index: 10;
    transform: translateZ(0);
    button,
    a {
        display: block;
        overflow: hidden;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        border: 0;
        outline: 0;
        background-color: $point-color1;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
        color: #fff;
        text-align: center;
    }
    i {
        line-height: 56px;
    }
}

$bezier: cubic-bezier(.175, .885, .32, 1.275);

.btn-heart {
    display: inline-block;
    height: 1.5em;
    color: #fff;
    cursor: pointer;
    &.active {
        color: #ff4f51 !important;
        i {
            //animation: heartPulse .25s $bezier both;
            &.effector {
                opacity: 0;
                transform: scale(2.5);
                transition: transform 1s $bezier, opacity 1s $bezier;
            }
        }
    }
    > * {
        vertical-align: middle;
    }
    i {
        display: block;
        &.effector {
            opacity: 0.7;
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(1);
            transition: none;
        }
    }
    .heart-wrap {
        display: inline-block;
        position: relative;
    }
    .like-count {
        display: inline-block;
        margin-left: 5px;
    }
}

.btn-delete {
    cursor: pointer;
}

.btn-modify {
    cursor: pointer;
}

// Animations
@keyframes heartPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

:root {
    --color-ripple: rgba(255,255,255,0.6);
}