.card-list {
    .card-list-inner {
        @include clearfix;
        margin: -10px;
    }
    .card-wrap {
        float: left;
        width: 16.66666666%;
        padding: 5px;
        animation: cardIn .4s forwards;
        @media screen and (max-width: 1600px) {
            width: 25%;
        }
        @media screen and (max-width: 1300px) {
            width: 33.33333333%;
        }
        //@media screen and (max-width: 1000px) {
        //    width: 33.33333333%;
        //}
        @media screen and (max-width: 768px) {
            width: 50%;
        }
        //@media screen and (max-width: 500px) {
        //    width: auto;
        //}
    }
    .card {
        display: block;
        margin: 0;
        overflow: hidden;
        border-radius: 2px;
        .card-image-wrap {
            position: relative;
            .btn-map {
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }
        .card-image {
            display: block;
            overflow: hidden;
            &:hover {
                .image-wrap {
                    transform: scale(1.05);
                }
            }
        }
        .card-title {
            right: 0;
            padding: 15px 20px;
            font-size: 16px;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @media screen and (max-width: 768px) {
                padding: 10px;
                font-size: 16px;
            }
        }
        .image-wrap {
            will-change: transform;
            transition: transform .7s;
        }
        .image {
            overflow: hidden;
            padding-top: 75%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            &.done {
                animation: fadeIn .4s;
            }
        }
        .card-date {
            margin-top: 11px;
            color: #aaa;
            font-size: 12px;
            text-align: right;
        }
        .util-area {
            @include clearfix();
            margin-top: 11px;
            height: 22px;
        }
        .btn-map {
            border-radius: 50%;
            box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
            cursor: pointer;
            img {
                display: block;
                width: 30px;
                height: 30px;
            }
        }
        .btn-like {
            float: left;
        }
	    .author {
            float: right;
            padding: 2px 0;
		    color: #aaa;
		    font-size: 12px;
		    text-align: right;
		    em {
			    color: $point-color1;
		    }
	    }
        .card-content {
            padding: 15px 20px;
            @media screen and (max-width: 768px) {
                padding: 10px;
            }
            .desc {
                display: -webkit-box;
                text-overflow: ellipsis;
                word-wrap: break-word;
                word-break: break-all;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: 42px;
                font-size: 14px;
            }
        }
    }
}