.card-list {
    .card-list-inner {
        @include clearfix;
        margin: -10px;
    }
    .card-wrap {
        float: left;
        width: 14.28571428%;
        padding: 10px;
        animation: cardIn .4s forwards;
        @media screen and (max-width: 1600px) {
            width: 16.66666666%;
        }
        @media screen and (max-width: 1300px) {
            width: 25%;
        }
        @media screen and (max-width: 1000px) {
            width: 33.33333333%;
        }
        @media screen and (max-width: 768px) {
            width: 50%;
        }
        @media screen and (max-width: 500px) {
            width: auto;
        }
    }
    .card {
        margin: 0;
        .card-title {
            right: 0;
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .card-image {
            overflow: hidden;
            padding-top: 75%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            img {
                @include alignXY;
                width: 100%;
            }
        }
        .card-date {
            margin-top: 11px;
            color: #aaa;
            font-size: 12px;
            text-align: right;
        }
        .card-content {
            padding: 15px 20px;
            .desc {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                word-wrap: break-word;
                word-break: break-all;
                height: 66px;
            }
        }
        .card-action {
            position: relative;
            padding: 10px 20px;
            font-size: 0;
            text-align: right;
            .btn-link {
                display: inline-block;
                height: 30px;
                margin-right: 0 !important;
            }
            .author {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: absolute;
                top: 13px;
                left: 20px;
                right: 60px;
                font-size: 13px;
                text-align: left;
            }
        }
    }
}