.card-list {
    .card-list-inner {
        @include clearfix;
        margin: -2px;
    }
    .card-wrap {
        float: left;
        position: relative;
        width: 25%;
        padding: 2px;
        @media screen and (max-width: 768px) {
            width: 50%;
        }
        &:nth-child(18n + 1) {
            width: 50%;
            .card {
                .image {
                    padding-top: 75.1%;
                }
            }
        }
        &:nth-child(18n + 10) {
            float: right;
            width: 50%;
            .card {
                .image {
                    padding-top: 75.2%;
                }
            }
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            background-color: #eee;
        }
        &.done {
            .card {
                opacity: 1;
                transform: translate3d(0,0,0);
                transition: transform .3s cubic-bezier(0,0,0.25,1), opacity .3s cubic-bezier(0,0,0.25,1);
            }
        }
    }
    .card {
        opacity: 0;
        display: block;
        overflow: hidden;
        margin: 0;
        position: relative;
        //border-radius: 2px;
	    color: #fff;
	    font-size: 12px;
        transform: translate3d(0,20px,0);
	    @media screen and (max-width: 768px) {
		    font-size: 11px;
	    }
        a {
            display: block;
        }
        .card-image-wrap {
            position: relative;
            .btn-map {
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }
        .card-image {
            display: block;
        }
        .card-title {
            margin-bottom: 2px;
            font-size: 15px;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        .image {
            overflow: hidden;
            padding-top: 75%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transform: translateZ(0);
        }
        .card-content {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            padding: 12px;
            background-image: linear-gradient(to top,rgba(0,0,0,.4) 0,transparent 100%);
            .desc {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 13px;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
            }
        }
    }
    .util-area {
        @include clearfix();
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        padding: 9px 12px 12px;
        font-size: 16px;
        background-image: linear-gradient(to bottom,rgba(0,0,0,.4) 0,transparent 100%);
        .left {
            float: left;
            > * {
                + * {
                    margin-left: 10px;
                }
            }
        }
        .right {
            overflow: hidden;
            float: right;
            > * {
                float: left;
                + * {
                    margin-left: 10px;
                }
            }
        }
        .card-date {
            margin-top: 11px;
            font-size: 12px;
            text-align: right;
        }
        .btn-map {
            color: #fff;
            cursor: pointer;
        }
        .btn-delete {
            color: #fff;
            cursor: pointer;
        }
        .author {
            float: right;
            padding-top: 2px;
            text-align: right;
            em {
                color: $point-color1;
            }
        }
        .date {
            float: right;
            color: #ccc;
            font-size: 12px;
        }
    }
}