.checkbox-wrap {
	display: inline-block;
}
.checkbox {
	display: block;
	input {
		@include hidden;
		
		&:checked {
			+ label {
				background-color: #f5f5f5;
				color: #777;
				border: 1px solid #eee;
			}
		}
		
		+ label {
			display: block;
			overflow: hidden;
			padding: 7px 14px;
			border: 1px solid #fff;
			border-radius: 3px;
			color: #aaa;
			font-size: 13px;
			cursor: pointer;
		}
	}
}