@charset "UTF-8";

.confirm-alarm {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(255,235,238,0.4);
  color: #fff;
  white-space: nowrap;
  text-align: center;
  transition: all .5s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .confirm-cont {
    @include alignXY;
    min-width: 300px;
    padding: 20px;
    background: rgba(255,255,255,0.95);
    border-radius: 5px;
  }
  .message {
    margin-bottom: 20px;
    white-space: nowrap;
    font-size: 16px;
    color: #666;
  }
  .btn-area {
    .btn {
      width: 90px;
      padding: 0;
      + .btn {
        margin-left: 10px;
      }
    }
  }
}