$icare-blue: #00A9E0;
$icare-magenta: #D0006F;
$icare-purple: #6C2B85;
$icare-teal: #00A3AD;

.circle-loader-wrap {
	position: relative;
	
	&.white {
		.path {
			stroke: #fff;
			animation: dash 1.5s ease-in-out infinite;
		}
	}
}

.circle-loader {
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

.circular {
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	0% { stroke: $icare-magenta; }
	50% { stroke: $icare-purple; }
	100% { stroke: $icare-blue; }
}