.modal-mask {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background: rgba(0,0,0,0.4);
    transform: translateZ(0);
    transition: visibility .3s, opacity .3s;
    transition-property: visibilit, opacity, transform;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}