.option-area {
    overflow: hidden;
    margin-bottom: 50px;
    
    > .option {
        + .option {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px dashed #ddd;
        }
    }
    h6 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 13px;
    }
}