.preview-area {
    width: 800px;
    margin: 20px auto 0;
    @media screen and (max-width: 1000px) {
        width: auto;
        margin: 20px 0;
    }
    .thumb {
        overflow: hidden;
        position: relative;
        height: 340px;
        margin: 0 auto 50px;
        font-size: 0;
        img {
            @include alignY;
            display: block;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
    .map {
        position: relative;
        padding-top: 50%;
        > div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    .submit-area {
        .circle-loader-wrap {
            padding: 10px 0;
            font-size: 0;
        }
    }
}