.preview-area {
    margin: 50px auto 0;
    @media screen and (max-width: 1000px) {
        width: auto;
        margin: 20px 0;
    }
    .thumb {
        overflow: hidden;
        position: relative;
        margin: 0 auto 40px;
        border-radius: 5px;
        font-size: 0;
        .image {
            padding-top: 33.33333333%;
        }
        img {
            @include alignY;
            display: block;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
    .description {
        margin-top: 20px;
    }
    .map {
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        padding-top: 50%;
        border-radius: 5px;
        > div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    .submit-area {
        .circle-loader-wrap {
            padding: 10px 0;
            font-size: 0;
        }
    }
}