.preview-area {
    width: 800px;
    margin: 20px auto 0;
    @media screen and (max-width: 1000px) {
        width: auto;
        margin: 20px 0;
    }
    .thumb {
        margin-bottom: 50px;
        font-size: 0;
        img {
            display: block;
            overflow: hidden;
            width: 100%;
            border-radius: 5px;
        }
    }
}