.locations {
  overflow: hidden;
  margin: -2px -10px;
  > div {
    float: left;
    padding: 2px 10px;
  }
  [type="checkbox"] {
    &:checked {
      + label {
        &:before {
          top: -3px;
        }
      }
    }
    + label {
      padding-left: 28px;
      &:before {
        top: 1px;
      }
    }
    &:not(.filled-in) {
      + label {
        &:after {
          top: 1px;
        }
      }
    }
  }

}