@import "../../resources/styles/helper/mixins";

.review {
    .progress-area {
        margin: 60px 0;
    }
    .end-page {
        margin: 50px 0 30px;
        text-align: center;
        font-size: 0;
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #eee;
            color: #aaa;
            font-size: 16px;
            line-height: 40px;
            cursor: pointer;
        }
    }
}
.review-write,
.review-article {
    .input-row {
        display: flex;
        flex-direction: row;
        font-size: 0;
        @media screen and (max-width: 768px) {
            display: block;
        }
        &.no-city {
            .select-area {
                &.nation-sel {
                    width: 180px;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        padding-right: 0;
                    }
                }
                &.city-sel {
                    display: none;
                }
            }
        }
        > div {
            flex: 1;
            + div {
                margin-left: 10px;
                @media screen and (max-width: 768px) {
                    margin-left: 0;
                }
            }
        }
        input {
            border: 0;
            border-bottom: 1px solid #ddd;
        }
        .select-area {
            flex: none;
            width: 120px;
            @media screen and (max-width: 768px) {
                display: inline-block;
                width: 50%;
            }
            &.nation-sel {
                @media screen and (max-width: 768px) {
                    padding-right: 5px;
                }
            }
            &.city-sel {
                @media screen and (max-width: 768px) {
                    padding-left: 5px;
                }
            }
        }
    }
    .write-area {
        margin-top: 30px;
    }
    .add-file {
        input {
            @include hidden;
        }
        label {
            display: block;
            width: 100px;
            height: 100px;
            background-color: #ccc;
        }
    }
}